.home{
    background-color:rgb(82, 79, 79);
}
.card-team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 40px;
    padding-bottom: 40px;
}

@media screen and (max-width: 771px) {
    .card-team {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .card-team {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 30px;
        padding-right: 30px;
    }
}

